@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main: #9a867a;
    --dark: #1d2231;
    --grey: #8390a2;
    --pri__blue: #375d86;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.05em;
}

